@use '../resets';

.contact-modal-form {
	// background: resets.$light;
	display: flex;
	overflow: auto;

	.form {
		overflow: auto;
		padding: 5em 0;
		width: 90%;
		margin: 0 auto;

		.visit-wrap {
			margin-bottom: 2em;

			.identifier-text {
				font-size: 1.5rem;
				color: resets.$light;
				margin-bottom: 0.5em;
				border: 2px solid resets.$accent-color;
				text-align: center;
				padding: 1em;
				border-radius: 50px;
				font-family: 'Poppins', sans-serif;
				font-weight: 500;
				text-transform: capitalize;
				margin-bottom: 1.5em;
			}

			.container {
				display: grid;
				gap: 1em;

				.first-pos-wrap,
				.second-pos-wrap,
				.third-pos-wrap {
					.heading {
						font-size: 1.3rem;
						margin-bottom: 0.6em;
						font-family: 'Poppins', sans-serif;
						font-weight: 400;
						color: resets.$light;
					}

					.wrapper {
						// background: teal;
						display: grid;
						gap: 0.3em;
						margin-bottom: 1em;

						label {
							margin-bottom: 0.6em;
							font-family: 'Poppins', sans-serif;
							font-weight: 400;
							color: resets.$light;
						}

						input {
							background: #7a7a7a;
							padding: 1em 1.5em;
							border: none;
							border-radius: 40px;
							outline: none;
							color: #383838;
						}
					}
				}
			}
		}

		.user-info-wrap {
			.identifier-text {
				font-size: 1.5rem;
				color: resets.$light;
				margin-bottom: 0.5em;
				border: 2px solid resets.$accent-color;
				text-align: center;
				padding: 1em;
				border-radius: 50px;
				font-family: 'Poppins', sans-serif;
				font-weight: 500;
				text-transform: capitalize;
				margin-bottom: 1.5em;
			}

			.selected-object-wrap {
				.wrapper {
					display: grid;
					gap: 0.3em;
					margin-bottom: 1em;

					label {
						// font-size: 1.3rem;
						margin-bottom: 0.6em;
						font-family: 'Poppins', sans-serif;
						font-weight: 400;
						color: resets.$light;
					}

					input {
						background: #7a7a7a;
						padding: 1em 1.5em;
						border: none;
						border-radius: 40px;
						outline: none;
						color: #383838;
					}
				}

				.message-wrap {
					.wrapper {
						// background: teal;
						textarea {
							background: #7a7a7a;
							padding: 1em 1.5em;
							border: none;
							border-radius: 40px;
							outline: none;
							color: #383838;
							resize: none;
							height: 10em;
							width: 100%;
							outline: none;
						}
					}
				}
			}
		}

		.btn-wrap {
			.submit-btn {
				text-transform: capitalize;
				background: #f24d1d;
				padding: 1em 1.5em;
				color: #fff;
				border: none;
				border-radius: 40px;
				cursor: pointer;
				display: block;
				font-family: 'Poppins', sans-serif;
				font-weight: 500;
				font-style: normal;
				width: 100% !important;
			}
		}
	}

	@media screen and (min-width: 43em) {
		.form {
			width: 60%;
			margin: 0 auto;
		}
	}

	@media screen and (min-width: 62em) {
		.form {
			width: 40%;
			margin: 0 auto;
		}
	}
}
