@use '../resets';

.listing-masthead {
	height: 600px;
	margin-bottom: 7em;

	background: resets.$darker;

	.positioned-imgs {
		width: 100%;

		img {
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 600px;

			&:first-child {
				top: 0;
				right: 0;
			}

			&:last-child {
				top: 0;
			}
		}
	}

	.container {
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		.text-wrap {
			text-align: center;

			.heading {
				color: #fff;
				line-height: 1.3;
				margin-bottom: 0.3em;
				font-size: clamp(3vw, 3rem, 8vw);
				@include resets.poppins-bold();
			}

			.subtext {
				line-height: 1.5;
				margin-bottom: 1.3em;
				color: #fff;
				// opacity: 0;
				@include resets.poppins-regular();
			}

			.social-proof-wrap {
				display: flex;
				justify-content: center;
				gap: 1.5em;

				.wrap {
					.star-icons {
						img {
							width: 20px;
						}
					}
					.text {
						color: resets.$light;
					}
				}
			}
		}
	}
}
