@use '../resets';

.detailed-properties-container {
	min-height: 80vh;
	width: 100%;
	padding-top: 15vh;
	margin-bottom: 5em;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	// overflow-x: hidden;

	&::before {
		content: '';
		position: absolute;
		width: 90%;
		height: 1.5px;
		background: resets.$accent-color;
		top: 100%;
	}

	// styles for when data isn't parsed from listings page
	.empty-page-message {
		text-align: center;

		.heading {
			font-size: 2rem;
			margin-bottom: 0.5em;
		}

		.text {
			margin-bottom: 1em;
		}

		.link {
			// text-transform: capitalize;
			background: #f24d1d;
			padding: 1em 1.5em;
			color: #fff;
			border: none;
			border-radius: 40px;
			cursor: pointer;
			display: inline-block;
			@include resets.poppins-medium();
		}
	} // end of styles for when data isn't parsed from listings page

	.wrap {
		// background: teal;
		padding-top: 10em;
		// padding-left: 5%;
		padding-bottom: 7em;

		.prop-title {
			@include resets.poppins-bold();
			margin-bottom: 0.9em;
			font-size: 2rem;
			color: resets.$grey;
			padding-left: 5%;
		}

		.img-wrap {
			display: grid;
			grid-auto-columns: 80%;
			grid-auto-flow: column;
			gap: 1em;
			margin-bottom: 4em;
			height: 400px;
			overflow-x: scroll;
			scroll-snap-type: mandatory;
			scroll-snap-align: start;

			.img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			@media screen and (min-width: 43em) {
				grid-auto-columns: 50%;
			}

			@media screen and (min-width: 62em) {
				// display: flex;
				// overflow-x: unset;
				grid-auto-columns: 30%;
			}
		}

		.more-info-wrap {
			position: relative;
			display: grid;
			gap: 1.5em;
			margin-bottom: 5em;
			padding-left: 5%;

			.info {
				width: 90%;

				.heading {
					color: resets.$dark;
					font-size: 1.5rem;
					margin-bottom: 1em;
				}

				.info-text {
					color: resets.$grey;
					@include resets.poppins-regular();
				}
			}

			.pricing-card {
				background: #fff;
				height: 200px;
				width: 90%;
				box-shadow: 0 2px 20px rgba(0, 0, 0, 0.116);
				border-radius: 20px;

				display: flex;
				align-items: center;
				justify-content: center;

				.price-wrap {
					display: grid;
					gap: 1em;
					text-align: center;
					width: 100%;
					padding: 0 0.9em;

					.price {
						font-size: 1.5rem;
						color: resets.$grey;
					}

					.btn-wrap {
						display: grid;
						gap: 0.5em;

						.contact-wrap {
							display: flex;
							gap: 0.3em;

							a {
								font-size: 13.5px;
								display: flex;
								justify-content: center;
								gap: 0.4em;
								align-items: center;

								i {
									font-size: 20px;
								}

								&:nth-child(1) {
									background: grey;
								}

								&:nth-child(2) {
									background: transparent;
									border: solid 1.5px grey;
									color: resets.$accent-color;
									padding: 12px;
								}
							}
						}

						.btn {
							text-transform: capitalize;
							background: #f24d1d;
							padding: 1em 1.5em;
							color: #fff;
							border: none;
							border-radius: 40px;
							cursor: pointer;
							display: block;
							@include resets.poppins-medium();
							width: 100% !important;
						}
					}

					@media screen and (min-width: 62em) {
						text-align: left;
						padding: 0 2em;
					}
				}
			}

			@media screen and (min-width: 43em) {
				display: flex;
				justify-content: space-between;
				width: 90%;

				.info {
					max-width: 600px;
				}

				.pricing-card {
					width: 400px;
				}
			}
		}

		.listing-features {
			width: 90%;
			padding-left: 5%;

			.text-wrap {
				margin-bottom: 1em;

				.title {
					color: resets.$dark;
				}
			}

			.features-wrap {
				display: flex;
				gap: 0.7em;
				flex-wrap: wrap;

				span {
					border: 2px solid resets.$accent-color;
					display: inline-block !important;
					padding: 1em;
					border-radius: 40px;
				}
			}

			@media screen and (min-width: 43em) {
				max-width: 650px;
			}
		}
	}
}
