@use '../resets';

.featured-prop2 {
	margin-bottom: 7em;

	.container {
		.text-wrap {
			width: 90%;
			margin: 0 auto;
			margin-bottom: 3em;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			// background: red;

			.heading {
				max-width: 500px;
				line-height: 1.3;
				text-transform: capitalize;
				margin-bottom: 0.6em;
				font-size: 2rem;
			}

			.btn-wrap {
				.btn {
					color: resets.$accent-color;

					display: flex;
					align-items: center;
					gap: 1.4em;
				}
			}

			@media screen and (min-width: 62em) {
				.heading {
					margin-bottom: 0;
				}
			}
		}

		.cards-wrap {
			display: grid;
			gap: 2em;
			width: 90%;
			margin: 0 auto;

			.card {
				min-height: 300px;
				width: 100%;

				position: relative;

				.img-wrap {
					background: orange;
					height: 270px;
					width: 100%;
					margin-bottom: 1em;
					border-radius: 20px;
				}

				.data-btns {
					display: flex;
					justify-content: center;
					gap: 0.5em;
					position: absolute;
					bottom: 12%;
					left: 50%;
					transform: translateX(-50%);

					button {
						height: 10px;
						width: 10px;
						border: none;
						border-radius: 100%;
						cursor: pointer;
					}
				}

				.details {
					display: flex;
					justify-content: space-between;
					padding: 0 0.5em;
				}
			}

			@media screen and (min-width: 62em) {
				// display: flex;
				column-gap: 1em;
				row-gap: 3em;
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}
}
