@use '../resets';

.featured-prop1 {
	margin-bottom: 7em;

	.container {
		// background: teal;

		.text-wrap {
			width: fit-content;
			margin: 0 auto;
			margin-bottom: 3em;
			text-align: center;

			.heading {
				text-transform: capitalize;
				margin-bottom: 0.6em;
				font-size: 2rem;
			}

			.subtext {
				max-width: 500px;
				margin: 0 auto;
				color: resets.$grey;
			}
		}

		.listing-cards-wrap {
			display: grid;
			gap: 2em;

			.featured-prop-card {
				.property-card {
					height: 300px;
					position: relative;

					.img-wrap {
						// background: orange;
						height: 270px;
						margin-bottom: 1em;
						border-radius: 20px;
						position: relative;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
							position: absolute;
							opacity: 0;
							transition: opacity 0.5s ease-in-out;

							&.active {
								opacity: 1;
							}
						}

						// img
					}

					.data-btns {
						display: flex;
						justify-content: center;
						gap: 0.5em;
						position: absolute;
						bottom: 12%;
						left: 50%;
						transform: translateX(-50%);

						.data-btn1 {
							width: 10px;
							height: 10px;
							border-radius: 50%;
							background-color: gray;
							border: none;
							outline: none;
							cursor: pointer;
						}

						.data-btn1.active {
							background-color: resets.$accent-color;
						}
					}

					.details {
						display: flex;
						justify-content: space-between;
						padding: 0 0.5em;
					}
				}
			}

			@media screen and (min-width: 62em) {
				display: flex;
				gap: 1em;
				width: 95%;
				margin: 0 auto;

				.featured-prop-card {
					width: 100%;
				}
			}
		}
	}
}
