@use '../resets';

.services-section {
	margin-bottom: 10em;
	padding-top: 10em;

	.container {
		width: 90%;
		margin: 0 auto;
		position: relative;

		// create a horizontal line below the services' section
		&::after {
			content: '';
			position: absolute;
			height: 1.5px;
			width: 100%;
			background: #cccbc8;
			top: 110%;

			@media screen and (min-width: 62em) {
				top: 115%;
			}
		}

		.text-wrap {
			text-align: center;
			margin-bottom: 4em;

			.heading {
				font-size: 36px;
				text-transform: capitalize;
				margin-bottom: 0.5em;
				color: resets.$dark;
			}

			.subtext {
				max-width: 500px;
				margin: 0 auto;
				color: resets.$grey;
			}
		}

		.wrap {
			display: grid;
			gap: 2em;

			.service-wrap {
				padding: 1.5em;
				// background: #ffffff;
				border-radius: 10px;
				height: 350px;
				position: relative;

				.wrapper {
					position: relative;
					z-index: 1;

					.heading {
						color: resets.$accent-color;
						margin-bottom: 0.7em;
						font-size: 1.5rem;
						position: relative;
						margin-left: 1em;
						// background: teal;

						&::before {
							content: '';
							position: absolute;
							height: 20px;
							width: 20px;
							background: resets.$accent-color;
							left: -10%;
							border-radius: 3px;
							z-index: 1;
						}

						&::after {
							content: '';
							position: absolute;
							height: 20px;
							width: 20px;
							background: resets.$grey;
							left: -8%;
							top: 10%;
							border-radius: 3px;
						}
					}

					.subtext {
						color: resets.$grey;
						margin-bottom: 1.5em;
					}

					.btn-wrap {
						margin-bottom: 1em;

						.btn {
							background: transparent;
							padding: 0;
							color: resets.$accent-color;
							border: none;
							font-size: 1rem;
						}
					}
				}

				.rental-img-wrap {
					height: 100px;
					width: 100%;
					background: resets.$accent-color;
					border-radius: 15px;
					overflow: hidden;
					margin-bottom: 1.5em;

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}

				.re-img-wrap {
					height: 100px;
					width: 100%;
					background: resets.$accent-color;
					border-radius: 15px;
					overflow: hidden;
					margin-bottom: 1.5em;

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}

				.shortlet-img-wrap {
					height: 100px;
					width: 100%;
					background: resets.$accent-color;
					border-radius: 15px;
					overflow: hidden;
					margin-bottom: 1.5em;

					img {
						height: 100%;
						width: 100%;
						object-fit: cover;
					}
				}
			}

			@media screen and (min-width: 62em) {
				display: flex;
				width: 90%;
				margin: 0 auto;
				gap: 1em;
			}
		}
	}
}
