@use './resets';

.footer-section {
	// background: teal;

	.container {
		.top-wrapper {
			width: 90%;
			margin: 0 auto;
			padding: 2em 1.5em;
			background: resets.$accent-color;
			margin-bottom: 1em;
			border-radius: 20px;

			display: grid;
			gap: 2em;

			.wrap {
				&:nth-child(1) {
					color: #fff;
				}

				&:nth-child(2) {
					display: grid;
					gap: 2em;

					li {
						a {
							color: #fff;
						}
					}
				}
			}

			.social-media-wrap {
				display: flex;
				gap: 1.7em;

				i {
					font-size: 1.5rem;
					color: #fff;
				}
			}
		}

		.footer-img-section {
			position: relative;
			height: 550px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				position: absolute;
			}

			&::after {
				content: '';
				position: absolute;
				inset: 0;
				background: rgba(0, 0, 0, 0.479);
			}

			h2 {
				position: relative;
				z-index: 1;
				font-size: clamp(4vw, 7rem, 15vw);
				line-height: 1;
				text-transform: uppercase;
				color: #fff;

				span {
					transform: translateX(15%);
					display: inline-block;
				}
			}

			.copyright {
				position: absolute;
				z-index: 1;
				bottom: 1%;
				color: #fff;
				font-size: 0.9rem;
			}
		}

		@media screen and (min-width: 62em) {
			.top-wrapper {
				width: 100%;
				padding: 1em 2em;
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				background: transparent;

				.wrap {
					&:nth-child(1) {
						color: #7a7a7a;
						margin-right: 4em;
						width: 100%;
						display: flex;

						i {
							display: inline-block;
							color: resets.$accent-color;
						}

						span {
							display: inline-block;
						}
					}

					&:nth-child(2) {
						display: flex;
						width: 100%;
						// background: teal;
						justify-content: center;

						li {
							a {
								color: #7a7a7a;
								text-wrap: nowrap;
							}
						}
					}

					&:nth-child(3) {
						display: flex;
						gap: 1.7em;
						width: 100%;
						// background: green;
						justify-content: flex-end;
					}
				}

				.social-media-wrap {
					a {
						i {
							color: resets.$accent-color;
							font-size: 1.3rem;
						}
					}
				}
			}
		}
	}
}
